h1{
    color: red;
    text-transform: capitalize;
}

p{
    font-size: 30px;
}

body{
background-image: url(https://i.stack.imgur.com/jGlzr.png);
}
#winMessage{
    text-transform: uppercase;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.jumbotron{
    animation-name: example;
    animation-duration: 4s;

}