h1{
    color: red;
    text-transform: capitalize;
}

p{
    font-size: 20px;
}

body{
background-image: url(https://i.stack.imgur.com/jGlzr.png);
}
#winMessage{
    text-transform: uppercase;
}

@keyframes example {
    0%   {background-color: teal;}
    25%  {background-color:rgb(211, 34, 34);}
    50%  {background-color:teal;}
    100% {background-color:white;}
}

.blink{
    animation-name: example;
    animation-duration: 2s;

}